/* Colour Palette
------------------------------------------------------------------------------------------------------ */

$brand-one: #179997; /* #HTBGreen */
$brand-two: #fff; /* #White */
$brand-three: #25282B; /* #Black */
$brand-four: #B8227A; /* #Red */
$brand-five: #505050; /* #Grey */
$brand-six: #898989; /* #GreyLight */
$brand-seven: #E2E2E2; /* #PaleGrey */

/* Colour Palette [END]
------------------------------------------------------------------------------------------------------ */
