/* Colour Palette
------------------------------------------------------------------------------------------------------ */

$brand-one: #179997; /* #HTBGreen */
$brand-two: #fff; /* #White */
$brand-three: #000; /* #Black */
$brand-four: #B8227A; /* #Red */
$brand-five: #505050; /* #Grey */
$brand-six: #cbcbcb; /* #GreyLight */

/* Colour Palette [END]
------------------------------------------------------------------------------------------------------ */
