/* HTB Calc Results
------------------------------------------------------------------------------ */

.htb-calc{

    .results{
        background-color: $brand-one;
        color: $brand-two;
        text-align: center;
        padding: 2rem;

        h4{
            font-size: 1.4rem;
            color: $brand-two;
            font-family: 'Helvetica Neue LT W01_65 Md', sans-serif;
        }

        h5{
            font-size: 1.4rem;
            color: rgba($brand-two, 0.6);
            margin: 0 0 0.3rem;
            font-family: 'Helvetica Neue LT W01_55 Roman', sans-serif;
        }

        .result{
            font-size: 1.6rem;
            margin: 0;
            font-family: 'Helvetica Neue LT W01_71488914', sans-serif;

            @include breakpoint($xs){
                margin-bottom: 2rem;
            }
        }

        .problem{
            background-color: $brand-two;
            color: $brand-one;
            font-size: 1.3rem;
            line-height: 1.4;
            padding: 1rem;
            margin: 2rem 2rem 1.5rem;
            border-radius: 5px;
        }
    }
}

/* HTB Calc Results [END]
------------------------------------------------------------------------------ */
