/* HTB Calc Header
------------------------------------------------------------------------------ */

.htb-calc{

    .logo{
        width: 84px;
        max-width: 100%;
        margin-bottom: 2rem;
    }
}

/* HTB Calc Header [END]
------------------------------------------------------------------------------ */
