/* HTB Calc Homes In Budget
------------------------------------------------------------------------------ */

.htb-calc{

    .homes-in-budget{
        text-align: center;
        padding: 2rem 0;

        .inset{
            padding: 2rem 2rem 1rem;
        }

        h4{
            font-size: 1.4rem;
        }

        h5{
            font-size: 1.4rem;
            margin-bottom: 0.5rem;
            color: tint($brand-three, 50%);
            font-family: 'Helvetica Neue LT W01_55 Roman', sans-serif;
        }

        p.with-htb,
        p.without-htb{
            font-size: 2.5rem;
            margin-top: 0;
            color: $brand-three;
            font-family: 'Helvetica Neue LT W01_71488914', sans-serif;
        }

        p.with-htb{
            color: $brand-one;

            @include breakpoint($xs){
                margin-bottom: 1.5rem;
            }
        }
    }
}

/* HTB Calc Homes In Budget [END]
------------------------------------------------------------------------------ */
